body {
    font-family: sans-serif;
    background-color: lightgray
}
h1, h2, h3, h4, h5, h6 {
    color: dodgerblue;
    text-align: center
}

.ice-extent {
    background-image: url(./polarbear.jpg);
}



