body {
    font-family: sans-serif;
    background-color: lightgray;
}
h1, h2, h3, h4, h5, h6 {
    color: dodgerblue;
}

/* @media (min-width: 1266px) {
    .container{
        max-width: 1566px;
    }
} */