body {
    font-family: sans-serif;
    background-color: lightgray
}
h1, h2, h3, h4, h5, h6 {
    color: dodgerblue;
    text-align: center
}

/* .ice-extent {
    background-image: url(./polarbear.jpg);
} */

/* .rc-slider-handle {
    width: 30px;
    height: 30px;
    background-color: red
}

.rc-slider-track {
    height: 25px;
    background-color: dodgerblue
}

.rc-slider-rail {
    background-color: blue;
    height: 25px;
    width: 90%
} */

/* .rc-slider {
    width: 620px;
    position: center;
} */
/* 
.Select-value {
    text-align: center;
    background-color: dodgerblue;
}

.Select-clear {
    color: black 
}
.Select-arrow {
    color: black
}
.draglayer {
    background-color: lightblue
}

Li {
    color: dodgerblue;
    font-size: 20px
} */

@media (min-width: 1366px) {
    .container{
        max-width: 1700px;
    }
}